<link rel="stylesheet" href="/css/index.css" class="css">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
<script src="/js/home-index.js"></script>
<script src="/js/mapa-brasil.js"></script>

<div class="container">
    <div id="chart_div" class="chart_div"></div>
</div>